<h1>Restaurant Details</h1>
<h3><%= @restaurant.name %></h3>
<h3><%= @restaurant.description %></h3>
<h3><%= @restaurant.rating %></h3>
<%= link_to "retour vers la liste des restaurants", restaurants_path %>
